

{{#each allPosts}}
  <div class="post border" style="margin-bottom: 30px;">
    <a href='/posts/{{id}}'><h3>{{title}}</h3></a>
    <p style="font-size: xx-small;">{{this.createdAt}}</p>
    <p>{{text}}</p>
    <h4>Comments:</h4>
    {{#each ../allComments}}
      {{#isEqual ../id PostId}}
<p style="position: relative;">
  {{comment}}
 

  <button style="position: absolute; top: 0; right: 0; width: 5%;" data-id={{id}}>x</button>
 

</p>     
 {{/isEqual}}
    {{/each}}
    <div>
      {{!-- <img id="comment"  type="button" style="width:8%" data-toggle="modal" data-target="#commentModal"  src="/images/comment.png" comment-id={{id}} > Post Comment </img> --}}
      
    </div>
  </div>
{{/each}}






                        
                        

                

    <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header">
                <h5 class="modal-title" id="commentModalLabel">Comment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="update-form">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="text-update" class="form-label">Comment</label>
                        <input type="text" class="form-control" id="commentInput" placeholder="text">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" id="commentBtn" data-bs-target="#updateModal">
                        Comment
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

    <script src="./js/comment.js"></script>
    <script src="./js/deleteComment.js"></script>
