<div class="container">
    <div class="row mb-1">
        <div class="col-md-12">
            <div id="drty-card-header" class="card display-flex flex-row">
                <div class="d-flex align-items-center" id="drty-card-header-textbox">
                    <div class="row ">
                        <div class="col-sm-8 flex-column mt-2">
                            <div class="bg-light bg-opacity-75 rounded p-2" style="flex-grow: 1;">
                                <h4 class="">{{user.username}}</h4>
                                <div class="" style="flex-grow: 1;">
                                    <div>
                                        <span>MVC Tech Blog</span>
                                    </div>
                                
                                </div>
                            </div>
                            <div class="col-md-12 display-flex flex-row justify-center">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    {{#each post}}
        <div class="col-md-4 col-xl-3">
            <div class="card">
                    <h1 class="card-text text-truncate">{{this.title}}</h1>
                    <h5>{{this.text}}</h5>
                    <div>
                        <img class="" style="width:10%" data-id={{this.id}} src="/images/trash.png"
                             alt="">
                        <img type="button" class="" style="width:10%" data-bs-toggle="modal"
                             data-bs-target="#updateModal" data-post-id={{this.id}}
                             src="/images/pencil.png">
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</div>